:host {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  font: var(--mat-sys-body-large);
}

.header,
.footer {
  background: var(--mat-sys-primary-container);
}

.header {
  height: 80px;
  width: 100vw;
  position: relative;
  svg {
    height: 300px;
    position: absolute;
    path {
      fill: var(--mat-sys-primary-container);
    }
  }
}
