<div class="header">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    preserveAspectRatio="xMinYMin"
    viewBox="1 1 2 2"
  >
    <path d="M 1 1 H 1 V 3 C 2 3 3 2 3 1 H 1" fill="#000000" />
  </svg>
  <div class="microphone">
    <img src="assets/microphone-icon.png" alt="Microphone Icon" />
  </div>
  <div class="logo">DaVinciDialogue</div>
</div>
<div class="separador"></div>

<div class="content-container">
  <div class="left-side"></div>
  <app-image-generator class="main-content"></app-image-generator>
  <app-image-history class="history"></app-image-history>
</div>
