<div class="chat">

  <input
    type="text"
    placeholder="Chat with GPT"
    [(ngModel)]="message"
    />
    <button (click)="sendMessage()">Send</button>
    @for (chat of chats; track chat) {
      <p class="message">
        <b>{{chat.user}}:</b> {{ chat.message }}
      </p>
    }
    @if(responseLoading) {
      <p>ChatGPT is thinking...</p>
    }
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
