// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./theme-colors" as DaVinciDialogueTheme;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: DaVinciDialogueTheme.$primary-palette,
        tertiary: DaVinciDialogueTheme.$tertiary-palette,
      ),
      typography: (
        plain-family: Roboto,
        brand-family: Cinzel,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300,
      ),
      density: 0,
    )
  );

  // // Use high contrast light theme colors when users prefer contrast
  // @media (prefers-contrast: more) {
  //   @include DaVinciDialogueTheme.high-contrast-overrides(light);
  // }

  // // Apply dark theme when users prefer a dark color scheme
  // @media (prefers-color-scheme: dark) {
  //   @include mat.theme(
  //     (
  //       color: (
  //         primary: DaVinciDialogueTheme.$primary-palette,
  //         tertiary: DaVinciDialogueTheme.$tertiary-palette,
  //         theme-type: dark,
  //       ),
  //     )
  //   );

  //   // Use high contrast dark theme colors when users prefers a dark color scheme and contrast
  //   @media (prefers-contrast: more) {
  //     @include DaVinciDialogueTheme.high-contrast-overrides(dark);
  //   }
  // }
}
