<form class="form" (ngSubmit)="onSubmit()">
  @if(drawingEnabled()) {
  <div class="img-gen-container">
    <button
      type="submit"
      mat-flat-button
      [disabled]="imageServiceLoading || !base64Image"
    >
      Generate Image based on drawing
    </button>
    <button
      type="button"
      mat-button
      (click)="clearDrawing()"
      [disabled]="imageServiceLoading || !base64Image"
    >
      Clear Canvas
    </button>
  </div>
  } @else {
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Prompt</mat-label>
    <input
      type="text"
      id="prompt"
      [(ngModel)]="prompt"
      name="prompt"
      required
      matInput
      placeholder="Describe the image you want to generate"
    />
  </mat-form-field>
  <div class="example-button-row">
    <button type="submit" mat-flat-button [disabled]="imageServiceLoading">
      Generate Image
    </button>
  </div>
  }
</form>

<div class="image-container">
  <app-canvas
    *ngIf="drawingEnabled()"
    (base64Image)="updateDrawing($event)"
  ></app-canvas>
  <div *ngIf="imageServiceLoading" class="spinner-container">
    <img class="spinner" src="assets/Bild.png" />
    <h2>Generating Image...</h2>
  </div>
  <div *ngIf="currentImage.url">
    <img [src]="currentImage.url" alt="Generated Image" />
  </div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</div>
<h3 class="text-center b">{{ currentImage.prompt }}</h3>
