.error {
  color: red;
  margin-top: 10px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.full-width {
  width: 60%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}
.image-container {
  position: relative;
  width: 512px;
  height: 512px;
  overflow: hidden;
  border: 10px solid var(--mat-sys-primary-container);

  img {
    object-fit: scale-down;
  }
}

.img-gen-container {
  display: flex;
  gap: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
  z-index: 3;
  .spinner {
    animation: spin 1s linear infinite;
    width: 200px;
    height: 200px;
  }
}

.christmas-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 43%;
}
