.error {
  color: red;
  margin-top: 10px;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.full-width {
  width: 60%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}
.image-container {
  width: 512px;
  height: 512px;
  overflow: hidden;
  border: 10px solid var(--mat-sys-primary-container);

  img {
    object-fit: scale-down;
  }
}

.img-gen-container {
  display: flex;
  gap: 20px;
}
