.image-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  max-height: 800px;
  max-width: 400px;
  overflow: scroll;
}

.image-item {
  flex: 1 0 21%;
  box-sizing: border-box;
}

.image-item img {
  width: 150px;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}
