.image-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  max-height: 800px;
  max-width: 400px;
  overflow: auto;
}

.image-item {
  flex: 1 0 21%;
  box-sizing: border-box;
}

.image-item img {
  width: 150px;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
  background-color: var(--mat-sys-primary-container);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
